*, *:after, *:before{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.box{
    transition: all 0.4s;
    margin: 100px auto;
    padding: 20px;
    background-image: url('../images/bg.jpg');
    background-position: right center;
    max-width: 600px;
}
.boxInner{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 20px;
}
.contentBOx{
    transition: all 0.4s;
    border: 5px solid transparent;    
    min-height: 200px;
    padding: 20px;
    color: #fff;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
}
.contentBOx h3, .contentBOx p{
    margin: 0;
}
.contentBOx p{
    opacity: 0;
    transition: all 0.4s;
    transform: translateX(-10px);
}
.contentBOx h3::first-letter{
    color: red;
}

.box:hover{
    background-position: left center;
}
.box:hover .contentBOx{
    border-color: #fff;
}
.box:hover .contentBOx p{
    opacity: 1;
    transform: translateX(0px);
}



/* Animation */
.boxOuterAnimate{
    width: 1000px;
    height: 600px;
    background-color: green;
    position: relative;
    margin: 100px auto;
    border: 1px solid #333;
    -webkit-animation-name: naklaAnimate;
            animation-name: naklaAnimate;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}
.boxInnerAnimate{
    border-radius: 50%;
    width: 300px;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.boxPrato{
    width: 800px;
    height: 500px;
    background-color: gray;
    margin: 10px auto;
    position: relative;
}
.boxPrato img{
    transition: all 0.4s;
    width: 200px;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    position: absolute;
    
}

.boxPrato:hover img{
    -webkit-animation-name: amarNamPranto;
    animation-name: amarNamPranto;
-webkit-animation-duration: 2s;
    animation-duration: 2s;
-webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
-webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    transform: scale(1.5);
}

@-webkit-keyframes naklaAnimate{
    from {background-color: green;}
    to {background-color: white;}
}





@keyframes naklaAnimate{
    from {background-color: green;}
    to {background-color: white;}
}



@-webkit-keyframes amarNamPranto{
    0%{
        left:0%;
        top: 0%;
        right: auto;
    }
    25%{
        left:auto;
        top: 0%;
        right:0%;
    }
    50%{
        left: auto;
        top: auto;
        bottom: 0%;
        right: 0%;
    }
    75%{
        left: 0%;
        top: auto;
        bottom: 0%;
        right: auto;
    }
    100%{
        left:0%;
        top: 0%;
        right: auto;
        bottom: auto;
    }
}



@keyframes amarNamPranto{
    0%{
        left:0%;
        top: 0%;
        right: auto;
    }
    25%{
        left:auto;
        top: 0%;
        right:0%;
    }
    50%{
        left: auto;
        top: auto;
        bottom: 0%;
        right: 0%;
    }
    75%{
        left: 0%;
        top: auto;
        bottom: 0%;
        right: auto;
    }
    100%{
        left:0%;
        top: 0%;
        right: auto;
        bottom: auto;
    }
}